$def with (body, title, extraHead=None)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>$title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <meta name="description" content="Daily search results over Atom Feed."/>
$if extraHead:
    $:extraHead
</head>
<body>
<div id="page">
    <div id="header">
        <a href="/" title="What's Up?">What's Up: 今日更新</a>
    </div>
    <div id="content">
        <div id="main">
        $:body
        </div>
    </div>
    <div id="footer">
        <hr/>
        <a href="/info">About What's Up?</a>
    </div>
</div>
</body>
</html>
